{% extends 'base.html.twig' %}

{% block title %}Well Come in Snowtrick community!{% endblock %}

{% block body %}
<header class="masthead">
<style>

    .gallery-item {
        width: 300px;
        height: 200px;
        margin: 50px 50px 50px 30px;
    }
    .pencil {
        margin: 10px 16px 4px 12px; 
    }
    .trash {
        margin: 10px 4px 4px 4px;
    }
    .icon-fig {
        width: 20px;
        height: 20px;
    }

     @media (min-width: 576px) {
        .gallery-item {
            width: 200px;
            height: 100px;
            margin: 50px 50px 50px 80px;
        }
        .typo {
            font-size: 16px;
        }
         .pencil {
            margin: 4px 16px; 
        }
        .trash {
            margin: 4px;
        }
        .icon-fig {
            width: 20px;
            height: 20px;
        }
     }
      @media (min-width: 992px) {
        .gallery-item {
            width: 200px;
            height: 100px;
            margin: 50px 50px 50px 50px;
        }
        .typo {
            font-size: 14px;
        }
        .pencil {
            margin: 4px 16px; 
        }
        .trash {
            margin: 4px;
        }
        .icon-fig {
            width: 14px;
            height: 14px;
        }
     }


</style>
      <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                  <div class="site-heading example-wrapper">
                      <h1 style="color: white; text-align: center; text-shadow: black 0.1em 0.1em 0.2em">Hello {{ home_user }}!</h1>
                      <div style= "text-align: center; text-shadow: white 0.1em 0.1em 0.2em"><span><B>Well Come in Snowtrick community!</B></span></div>
                  </div>
              </div>
          </div>
      </div>
      <a href="#bottom-page" title="To down page">
        <i class="fa-solid fa-arrow-down arrow-down"></i>
        <span style="display:none">To down</span>
     </a>
  </header>
<h1 class="container-sm" style="width: 300px; margin-top: 60px;text-align: center;">Tricks List</h1>

    
    <div class="gallery">
    {% for trick in tricks %}
            <div class="gallery-item container-sm">
                <div class="gallery-item">
                <a href="../trick/{{trick.slug}}"><img src="{{trick.medias.first.link}}" alt="default-trick"></a>
                <br>
                <figcaption class="fig-gallery">
                    <h5 style="margin: 4px;" class="typo"><a href="../trick/{{trick.slug}}" class="a-title">{{trick.name}}</a></h5>
                    <a href="#"><i class="fas fa-pencil fa pencil icon-fig"></i></a>
                    <a href="#"><i class="fas fa-trash fa trash icon-fig"></i></a>
                </figcaption>
                </div>
                <br>
            </div>
            <br>
     {% endfor %}     
    </div>
    <br><br />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
    function showBox(){
				location.href="home/loadMore";
			}
			$(document).ready(function(){ 
				$(".load-more").click(function(){
					$(this).html('<img style="vertical-align: middle;" src="/images/icons/icon-loader.gif"><div style="margin-top: -40px;">Load More</div>').delay(2000).queue(function() {
						$(this).hide();
						showBox(); 
						$(this).dequeue();
					});        
				});
			});
	</script>
    <div>
        <a type="button" class="load-more button-link gd {{dsp}}">Load More</a>
    </div>
    <br><br />
        <a href="#" title="To top page" id="bottom-page">
            <i class="fa-solid fa-arrow-up" style="float:right; padding-right:40px; font-size: 30px; "></i>
            <span style="display:none">To top</span>
        </a>
{% endblock %}
